In [ ]:
!pip install selenium

In [1]:
#Webdriver é um livro da biblioteca do selenium por isso uso o from 
#Selenium roda em tread, o pyautogui não.



from selenium import webdriver #controlar o navegador
from selenium.webdriver.common.keys import Keys #controlar as teclas do teclado
from selenium.webdriver.common.by import By #localizar itens do navegador

#crira navegador
navegador = webdriver.Chrome()

# entrar no google pesquisar cotação do dolar
navegador.get("https://www.google.com.")

#pegar cotação dolar #para utilização do XPATH utilize aspas simples 

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dólar",Keys.ENTER) #qual o parametro vc quer usar, qual o código do parametro)

#navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_dolar = navegador.find_element(By.XPATH,'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_dolar)


# entrar no google pesquisar cotação do euro

navegador.get("https://www.google.com.")
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação Euro",Keys.ENTER) #qual o parametro vc quer usar, qual o código do parametro)

#pegar cotação Euro
cotacao_euro = navegador.find_element(By.XPATH,'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro)


# entrar no google pesquisar cotação do ouro
navegador.get('https://www.melhorcambio.com/ouro-hoje')

#pegar cotação do ouro 
cotacao_ouro = navegador.find_element(By.XPATH,'//*[@id="comercial"]').get_attribute('value')

#substituir vírgula por ponto
cotacao_ouro = cotacao_ouro.replace(",", ".")

print(cotacao_ouro)

#sair do navegador
navegador.quit()

5.039307
5.5636468930000005
314.10

In [5]:
#importar base de dados
import pandas as pd

tabela = pd.read_excel("Produtos.xlsx") #esse arquivo precisa estar na mesma pasta desse arquivo
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [38]:
#atualizar cotações na base de dados 
#tabela["Moeda"]=="Dólar" => Traga os valores das linhas com nome dolar na coluna moeda


tabela.loc[tabela["Moeda"]=="Dólar", "Cotação"] = float(cotacao_dolar) # loc = localizar [linhas, colunas]

tabela.loc[tabela["Moeda"]=="Euro", "Cotação"] = float(cotacao_euro)

tabela.loc[tabela["Moeda"]=="Ouro", "Cotação"] = float(cotacao_ouro)

#atualizar o preço de compra na base de dados
tabela["Preço de Compra"] = tabela["Preço Original"] * tabela ["Cotação"]

#atualizar o preço de venda na base de dados
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela ["Margem"]

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.012900,5012.849871,1.40,7017.989819
1,Carro Renault,4500.00,Euro,5.537024,24916.606916,2.00,49833.213831
2,Notebook Dell,899.99,Dólar,5.012900,4511.559871,1.70,7669.651781
3,IPhone,799.00,Dólar,5.012900,4005.307100,1.70,6809.022070
4,Carro Fiat,3000.00,Euro,5.537024,16611.071277,1.90,31561.035426
5,Celular Xiaomi,480.48,Dólar,5.012900,2408.598192,2.00,4817.196384
6,Joia 20g,20.00,Ouro,321.790000,6435.800000,1.15,7401.170000

In [39]:
tabela.to_excel("ProdutosNovo.xlsx", index=False)